.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  p {
    margin-bottom: 5rem;
  }
  .about-img{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .card-img{
      width: 300px;
      border-radius: 300px;
    }
  }
}
