.projects-section {
  padding: 6rem 4rem;
  @media (max-width: 600px) {
    padding: 0rem;
  }
  .leadership-img{
    width: 600px;
  }
  .featured-text {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .project-text {
    padding: 1rem 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 1rem 5rem;
      a{
        color: #fff;
        @media (max-width: 600px) {
          color: #fff;
        }
      }
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
}
