@import './bootstrap/bootstrap.min.css';
@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'signup.scss';
@import 'contact.scss';
@import './fontawesome/css/all.min.css';
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

body {
  font-family: 'Nunito';
  line-height: 1.4 !important;
}
a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}

.img-container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
  z-index: 1;
}

.img-container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: 30%;
  -webkit-transform: translate(-30%, -30%);
  -ms-transform: translate(-30%, -30%);
  transform: translate(-30%, -30%);
  // text-align: center;
}
.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.interest-text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.social {
  margin-top: 1rem;
  a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: fade-out($white, 0.9);
    border-radius: 100%;
    line-height: 3rem;
    color: fade-out($white, 0.7);
    &:hover {
      color: fade-out($white, 0.5);
    }
    &:active {
      color: $white;
    }
  }
}
hr {
  background-color: #000000;
  border-color: $primary;
  border-width: 0.1rem;
  width: 80%;
}
.projects{
  min-height: 500px;
}
// .publication{
//   min-height: 300px;
// }

.card-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .card-img-top{
    width: 120px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
  }
  .project-img-top{
    width: 120px;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
}
h5, h4 {
  text-transform: uppercase;
  font-size: 1rem;
}
.projects h6 {
  font-style: italic;
  font-size: 0.8rem;
}
.experience h6 {
  font-style: italic;
}